[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.2s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #000000b5;
  color: rgb(218, 212, 212);
  font-size: 0.75rem;
  position: absolute;
  padding: 0.1rem 0.5rem 0.1rem;
  bottom: 110%;
  left: -35%;
  white-space: wrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border-radius: 15%;
  z-index: 40;
  visibility: hidden;
}
[data-title] {
  position: relative;
}
